<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <title>OpenPEC - Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="stylesheet" type="text/css" href="resources/login.css" />
</head>
<body>
  <div class="container" >     
    <div class="content">      
      <!--FORMULÁRIO DE LOGIN-->
      <div id="login">
        <form method="post" action=""> 
          <h1>e-SUS AB OpenPEC</h1> 
          <p> 
            <label for="enter_cpf">CPF</label>
            <input id="enter_cpf" name="enter_cpf" required="required" type="text" placeholder="00000000000"/>
          </p>
           
          <p> 
            <label for="enter_pass">Senha</label>
            <input id="enter_pass" name="enter_pass" required="required" type="password"/> 
          </p>
           
          <p> 
            <input type="submit" value="Entrar" /> 
          </p>
           
          <p class="link">
            <a href="">Esqueci minha senha</a>
          </p>

          <p>
            <h6>OpenPEC @ 2020</h6>
          </p>
        </form>
      </div>
 
    </div>
  </div>  
</body>
</html>