<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OpenPEC - Relatórios</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="stylesheet" type="text/css" href="resources/home.css" />
  

</head>
<body>
    <div class="container" >
        <div class="navbar">
            <a href="home"> Início</a>
            <a href="atendimentos"> Atendimentos</a>
            <a href="cidadao"> Cidadão</a>
            <a href="agenda"> Agenda</a>
            <a href="configuracoes"> Configurações</a>
            <a class="active" href="relatorios"> Relatórios</a>
            <a href="administracao"> Administração</a>

            <div class="dropdown" id="perfil">
                <button class="dropbtn">{{.}}</button>
                <div class="dropdown-content">
                <a href="#">Perfil</a>
                <a href="sobre">Sobre</a>
                <a href="logout">Sair</a>
                </div>
            </div>
        </div>   


        <!--Título-->
        <div class="content1">
            <div class="page-header">
                <h1>OpenPEC</h1>
            </div>
        </div>

    
        <div class="content2">
            <div id="main">
                <div class="btn-group">
                    <section class="container grid grid-template-columns"> 
                        

                    </section>
                </div>   
            </div>
        
        </div>  
</body>
</html>