<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <title>OpenPEC - Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="stylesheet" type="text/css" href="resources/login.css" />
   <script src="main.js"></script>
</head>
<body>
  <div class="container" >   
    <div class="content">   
      <div id="login">  
      <!--Se estiver logado-->
      {{if .Authenticated }}
        <p class="link">
          <a href="/home">Continuar logado como {{.Nome}}.</a>
        </p>
        <p class="link">
          <a href="/logout">Trocar de usuário.</a>
        </p>
      {{end}}

      <!--FORMULÁRIO DE LOGIN-->
      {{ if not .Authenticated }}
      
        <form method="post" action=""> 
          <h1>e-SUS AB OpenPEC</h1> 

          <div>
            {{ with .CPF }}
              <p class="error">{{ . }}</p>
            {{ end }}
            <p> 
              <label for="CPF">CPF</label>
              <input id="CPF" name="CPF" required="required" type="text" placeholder="00000000000"/>
            </p>
          </div>
           
          <div>
            {{ with .Pass }}
              <p class="error">{{ . }}</p>
            {{ end }}
            <p> 
              <label for="Senha">Senha</label>
              <input id="Senha" name="Senha" required="required" type="password"/> 
            </p>
          </div>
           
          <p> 
            <input type="submit" value="Entrar" /> 
          </p>

          
          <p class="link2">
            <a href="/cadastro">Cadastrar novo usuário</a>
          </p>
          
           
          <p class="link">
            <a href="">Esqueci minha senha</a>
          </p>

          <p>
            <h6>OpenPEC @ 2020</h6>
          </p>
        </form>
      
      {{ end }}
      </div>
    </div>
  </div>  
</body>
</html>