<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <title>OpenPEC - Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="stylesheet" type="text/css" href="resources/login.css" />
</head>
<body>
  <div class="container" >   
    <div class="content">      
      <div id="login">
          <h1>e-SUS AB OpenPEC</h1> 
          <p> 
            <h3> Você não está logado.</h3>
          </p>

        <p> <h1></h1></p>
          <p class="link">
            <a href="/">Clique aqui para acessar a tela de login</a>
          </p>

          <p>
            <h6>OpenPEC @ 2020</h6>
          </p>
      </div>
 
    </div>
  </div>  
</body>
</html>